<div class="carousel__wrapp">
  <div
    *ngFor="let slider of carouselContent; let i = index"
    class="carousel__container"
    [ngClass]="{ 'slider-active': selectedIndex === i }"
  >
    <img [src]="slider.url" class="fade carousel__img" />

    <div class="carousel__desc">
      <h2 class="white-text">{{ slider.heading }}</h2>
      <p class="white-text carousel__desc_text">{{ slider.description }}</p>
      <app-button
        [theme]="slider.theme"
        [size]="'medium'"
        text="Подробнее"
      ></app-button>
    </div>

    <div
      class="btn_carousel btn-prev"
      (click)="onPrevClick()"
      [ngClass]="[slider.theme]"
    >
      <svg class="arow-left__icon btn__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#arow-left"></use>
      </svg>
    </div>

    <div
      class="btn_carousel btn-next"
      (click)="onNextClick()"
      [ngClass]="[slider.theme]"
    >
      <svg class="arow-right__icon btn__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#arow-right"></use>
      </svg>
    </div>
  </div>

  <div class="carousel_dot__container">
    <span
      class="dot"
      (click)="selectSlide(i)"
      *ngFor="let dot of carouselContent; let i = index"
      [ngClass]="{ 'active-dot': selectedIndex === i }"
    >
    </span>
  </div>

  <div *ngIf="overlay" class="overlay"></div>
</div>
