<app-loader *ngIf="isLoading | async"> </app-loader>
<div class="model_sort__wrapp">
  <app-radio-button
    *ngFor="let c of category"
    [label]="c.name"
    name="model-sort"
    (change)="onFilter(c)"
  ></app-radio-button>
</div>

<div class="car_list">
  <div
    *ngFor="let car of filterCar"
    (click)="onCardClick(car)"
    class="car_list__card"
    [class.active]="car.isActive"
  >
    <div class="card-model">{{ car.name }}</div>
    <div class="card-price gray-text">
      {{ car.priceMin }} - {{ car.priceMax }} ₽
    </div>
    <img class="card-img" [src]="car.thumbnailUrl" alt="" />
  </div>
</div>
