@color-green: #0EC261;
@color-green-10: #039F67;
@color-grey: #999;
@color-grey-light: #eee;
@color-black: #121212;
@color-white: #fff;
@color-black-10: #151B1F;

// colors for sliders tems
@color-blue: #0e58c7;
@color-orange: #bd6b0f;
@color-purple: #a012ad;

// colors uses gradients
@color-green-80: #13493F;
@color-green-60: #0C7B1B;

@color-dark-blue: #132949;
@color-blue-green: #0C7B67;

@color-dark-orange: #493013;
@color-dark-pink: #7B0C3B;

@color-purple-80: #281349;
@color-purple-60: #720C7B;

// gradients

@gradient-accept: linear-gradient(90deg, @color-green 2.61%, @color-green-10 112.6%);
@gradient-accept-10: linear-gradient(90deg,darken(@color-green, 10%) 2.61%, darken(@color-green-10, 10%) 112.6%);
@gradient-accept-20: linear-gradient(90deg, darken(@color-green, 20%) 2.61%, darken(@color-green-10, 20%) 112.6%);

@gradient-dark-green: linear-gradient(90deg, @color-green-80 0%, @color-green-60 100%);
@gradient-dark-green-10: linear-gradient(90deg,darken(@color-green-80, 10%) 2.61%, darken(@color-green-60, 10%) 112.6%);
@gradient-dark-green-20: linear-gradient(90deg,darken(@color-green-80, 20%) 2.61%, darken(@color-green-60, 20%) 112.6%);

@gradient-blue: linear-gradient(90deg, @color-dark-blue 0%, @color-blue-green 100%);
@gradient-blue-10: linear-gradient(90deg,darken(@color-dark-blue, 10%) 2.61%, darken(@color-blue-green, 10%) 112.6%);
@gradient-blue-20: linear-gradient(90deg,darken(@color-dark-blue, 20%) 2.61%, darken(@color-blue-green, 20%) 112.6%);

@gradient-fail: linear-gradient(90deg, @color-dark-orange 0%, @color-dark-pink 100%);
@gradient-fail-10: linear-gradient(90deg,darken(@color-dark-orange, 10%) 2.61%, darken(@color-dark-pink, 10%) 112.6%);
@gradient-fail-20: linear-gradient(90deg,darken(@color-dark-orange, 20%) 2.61%, darken(@color-dark-pink, 20%) 112.6%);

@gradient-purple: linear-gradient(90deg, @color-purple-80 0%, @color-purple-60 100%);
@gradient-purple-10: linear-gradient(90deg,darken(@color-purple-80, 10%) 2.61%, darken(@color-purple-60, 10%) 112.6%);
@gradient-purple-20: linear-gradient(90deg,darken(@color-purple-80, 20%) 2.61%, darken(@color-purple-60, 20%) 112.6%);
