<div class="block-color section">
  <h5>Цвет</h5>
  <div class="input-radio">
    <input
      type="radio"
      class="input-radio__input"
      name="color-sort"
      value="Любой"
      checked="false"
    />
    <span class="input-radio__label">Любой </span>
  </div>
  <div class="input-radio">
    <input
      type="radio"
      class="input-radio__input"
      name="color-sort"
      value="Красный"
      checked="false"
    />
    <span class="input-radio__label">Красный </span>
  </div>
  <div class="input-radio">
    <input
      type="radio"
      class="input-radio__input"
      name="color-sort"
      value="Голубой"
      checked="true"
    />
    <span class="input-radio__label">Голубой </span>
  </div>
</div>
<div class="section">
  <h5>Дата аренды</h5>
  <div>
    <label>С</label> <input type="date" placeholder="Введите дату и время" />
  </div>
  <div>
    <label>По</label> <input type="date" placeholder="Введите дату и время" />
  </div>
</div>
<div class="section">
  <h5>Тариф</h5>
  <div>
    <!-- <app-radio-button
      *ngFor="let c of car.colors"
      name="sortColor"
      [label]="c"
    ></app-radio-button> -->
  </div>
</div>
<div class="section">
  <h5>Доп услуги</h5>
</div>
