<nav class="steps_nav">
  <div class="container">
    <a (click)="toStep1()" class="steps_nav__link">Местоположение</a>
    <span>
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </span>
    <a (click)="toStep2()" class="steps_nav__link">Модель</a>
    <span>
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </span>
    <a
      (click)="toStep3()"
      class="steps_nav__link"
      [ngClass]="{ disabled: additInvalid }"
      >Дополнительно</a
    >
    <span>
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </span>
    <a
      (click)="toStep4()"
      class="steps_nav__link"
      [ngClass]="{ disabled: confirmInvalid }"
      >Итого</a
    >
  </div>
</nav>

<button (click)="showStep()">показать состояние</button>

<div *ngIf="activeStep === activeStepEnum.step1">Местоположение</div>
<div *ngIf="activeStep === activeStepEnum.step2">Модель</div>

<!-- routerLink="/order/step-1"
routerLinkActive="active" -->

<!-- routerLink="/order/step-2"
      routerLinkActive="active" -->

<!--
      routerLink="/order/step-3"
      routerLinkActive="active" -->

<!-- routerLink="/order/step-4"
      routerLinkActive="active" -->
