<nav class="steps_nav container">
  <a
    routerLink="/order/step-1"
    routerLinkActive="active"
    class="steps_nav__link"
    >Местоположение</a
  >
  <span>
    <svg class="triangle__icon">
      <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
    </svg>
  </span>
  <a
    routerLink="/order/step-2"
    routerLinkActive="active"
    class="steps_nav__link"
    >Модель</a
  >
  <span>
    <svg class="triangle__icon">
      <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
    </svg>
  </span>
  <a
    routerLink="/order/step-3"
    routerLinkActive="active"
    class="steps_nav__link"
    >Дополнительно</a
  >
  <span>
    <svg class="triangle__icon">
      <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
    </svg>
  </span>
  <a
    routerLink="/order/step-4"
    routerLinkActive="active"
    class="steps_nav__link"
    >Итого</a
  >
</nav>
