@import "../../../common-styles/variables.less";

.basic-btn {
  outline: none;
  border: none;
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 18px;
  color: @color-white;
  cursor: pointer;
}

.large-size {
  padding: 15px 60px 11px;
  border-radius: 8px;
}

.medium-size {
  padding: 15px 35.3px 11px;
  border-radius: 4px;
}

.max-size {
  padding: 15px 30px 11px;
  width: 100%;
  border-radius: 8px;
}

.default {
  background: none;
  cursor: default;
}

.accept {
  background: @gradient-accept;

  &:hover {
    background: @gradient-accept-10;
  }

  &:focus {
    background: @gradient-accept-10;
  }

  &:active {
    background: @gradient-accept-20;
  }
}

.green-theme {
  background: @gradient-dark-green;

  &:hover {
    background: @gradient-dark-green-10;
  }

  &:active {
    background: @gradient-dark-green-20;
  }
}

.dark-blue-theme {
  background: @gradient-blue;

  &:hover {
    background: @gradient-blue-10;
  }

  &:active {
    background: @gradient-blue-20;
  }
}

.fail-theme {
  background: @gradient-fail;

  &:hover {
    background: @gradient-fail-10;
  }

  &:active {
    background: @gradient-fail-20;
  }
}

.purple-theme {
  background: @gradient-purple;

  &:hover {
    background: @gradient-purple-10;
  }

  &:active {
    background: @gradient-purple-20;
  }
}

.disabled {
  background: @color-grey-light;
  cursor: not-allowed;
  &:hover {
    background: @color-grey-light;
  }
}

@media (max-width: 580px) {
  .large-size {
    width: 100%;
  }
}
