@import "../../../../../../common-styles/variables.less";
@import "../../../../../../common-styles/text.less";

:host {
  width: 100%;
}
.inputs__wrapp {
  margin: 32px 0 45px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;

}
.map__wrapp {
  width: 78%;
  .map__label {
    margin-bottom: 16px;
  }
  .map-container {
    width: 100%;
    height: 352px;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
@media (max-width: 1020px) {
  .map__wrapp {
    width: 90%;
  }
}
@media (max-width: 750px) {
  .inputs__wrapp {
    align-items: center;
  }
}
@media (max-width: 580px) {
  .inputs__wrapp {
    align-items: flex-end;
  }
  .map__wrapp {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .inputs__wrapp {
    .form_group {
      flex-direction: column;
    }
  }
}
