<div class="inputs__wrapp">
  <app-input
    groupName="cityName"
    labelValue="Город"
    name="city"
    [addressValues]="addressValues"
    [list]="cityList"
    [value]="addressValues.city"
    (valueChange)="getValuesAddress($event)"
    (onSearchItem)="onSearchCityItem($event)"
  ></app-input>
  <app-input
    [ngClass]="{ disabled: addressValues.city === '' }"
    groupName="addressName"
    labelValue="Пункт выдачи"
    name="address"
    [addressValues]="addressValues"
    [list]="addressList"
    [value]="addressValues.address"
    (valueChange)="getValuesAddress($event)"
    (onSearchItem)="onSearchAddressItem($event)"
  ></app-input>
</div>

<div class="map__wrapp">
  <div class="label_form map__label" for="">Выбрать на карте:</div>
  <div class="map-container">
    <ya-map
      [center]="cityGiometry"
      [zoom]="12"
      [state]="{
        controls: ['zoomControl']
      }"
    >
      <ya-placemark
        *ngFor="let plase of addressList"
        [geometry]="plase.geometry"
        [options]="optionsPlacemark"
      ></ya-placemark>
    </ya-map>
  </div>
</div>
