@import '../../../common-styles/variables.less';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 32px;

  &__logo {
    .logo_img {
      height: 32px;
      width: 193px;
    }
  }
}
