<div class="order-info">
  <h3 class="order-title">Ваш заказ:</h3>
  <div class="order-item">
    <span class="order-item__label">Пункт выдачи</span>
    <span class="dote-border"></span>
    <span
      *ngIf="
        addressValues.city != '' && addressValues.address != '';
        else nonaddress
      "
      class="order-item__item column-item"
    >
      <span>{{ addressValues.city }},</span>
      <span>{{ addressValues.address }}</span>
    </span>
    <ng-template #nonaddress>
      <span class="order-item__item">Не выбран</span>
    </ng-template>
  </div>
  <div
    *ngIf="addressValues.city != '' && addressValues.address != ''"
    class="order-item"
  >
    <span class="order-item__label">Модель</span>
    <span class="dote-border"></span>
    <span *ngIf="modelValid; else nonmodel" class="order-item__item">
      <span>{{ checkedCar?.name }}</span>
    </span>
    <ng-template #nonmodel>
      <span class="order-item__item">Не выбран</span>
    </ng-template>
  </div>
  <div class="order-price">
    <span class="order-price_label">Цена:</span>
    <span class="order-price_range">от {{ priceRance }}</span>
  </div>
  <app-button
    (click)="toNextStep()"
    [isDisabled]="!btnIsValid"
    color="accept"
    size="max"
    [text]="textBtn"
  ></app-button>
</div>
