<div class="order-info">
  <h3 class="order-title">Ваш заказ:</h3>
  <app-order-item
    *ngIf="addressValues.city != undefined && addressValues.address != ''"
    label="Пункт выдачи"
    [item]="addressValues.city | gluing: ','"
    [itemElse]="addressValues.address"
    [column]="true"
  ></app-order-item>
  <app-order-item
    *ngIf="car.name != ''"
    label="Модель"
    [item]="car.name | gluing: ', '"
    [itemElse]="car?.number"
  ></app-order-item>
  <app-order-item
    *ngIf="additValue.color != ''"
    label="Цвет"
    [item]="additValue.color"
  ></app-order-item>
  <app-order-item
    *ngIf="dateDuration"
    label="Длительность аренды"
    [item]="dateDuration | duration"
  ></app-order-item>
  <app-order-item
    *ngIf="additValue.rate != ''"
    label="Тариф"
    [item]="additValue.rate"
  ></app-order-item>
  <app-order-item
    *ngIf="additValue.fullTank"
    label="Полный бак"
    item="Да"
  ></app-order-item>
  <app-order-item
    *ngIf="additValue.isNeedChildChair"
    label="Детское кресло"
    item="Да"
  ></app-order-item>
  <app-order-item
    *ngIf="additValue.isRightWheel"
    label="Правый руль"
    item="Да"
  ></app-order-item>
  <div class="order-price">
    <span class="order-price_label">Цена:</span>
    <span class="order-price_range" *ngIf="totalPrice != 0; else range">
      {{ totalPrice }} ₽</span
    >
    <ng-template #range
      >от {{ priceRange.min }} до {{ priceRange.max }} ₽</ng-template
    >
  </div>
  <app-button
    (click)="toNextStep()"
    [isDisabled]="!btnIsValid"
    [color]="colorBtn"
    size="max"
    [text]="textBtn"
  ></app-button>
</div>
