@import "./common-styles/variables.less";
@import "./common-styles/text.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto";
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 64px;
  padding-right: 64px;
}

@media (max-width: 1024px) {
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 580px) {
  padding-left: 16px;
  padding-right: 16px;
}
