/* You can add global styles to this file, and also import other style files */
@import './common-styles/variables.less';
@import './common-styles/mixins.less';
@import './common-styles/text.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto';
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 32px 64px;
}


