<app-header></app-header>

<nav class="steps_nav">
  <div class="container">
    <a
      (click)="toStep1()"
      [ngClass]="{ active: activeStep === activeStepEnum.step1 }"
      class="steps_nav__link"
      >Местоположение</a
    >
    <span>
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </span>
    <a
      (click)="toStep2()"
      [ngClass]="{
        active: activeStep === activeStepEnum.step2,
        disabled: !addressValid
      }"
      class="steps_nav__link"
      >Модель</a
    >
    <span>
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </span>
    <a
      (click)="toStep3()"
      class="steps_nav__link"
      [ngClass]="{
        disabled: true
      }"
      >Дополнительно</a
    >
    <span>
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </span>
    <a
      (click)="toStep4()"
      class="steps_nav__link"
      [ngClass]="{ disabled: true }"
      >Итого</a
    >
  </div>
</nav>

<div class="container order_page__container">
  <div class="order-steps_wrapp">
    <form class="order-form" #orderForm="ngForm">
      <app-step-location
        [cityValue]="cityValue"
        [addressValue]="addressValue"
        (changeCityValue)="setCityValue($event, orderForm)"
        (changeAddressValue)="setAddressValue($event, orderForm)"
        *ngIf="activeStep === activeStepEnum.step1"
      ></app-step-location>

      <app-step-model
        *ngIf="activeStep === activeStepEnum.step2"
      ></app-step-model>
    </form>
  </div>

  <div class="order-info_wrapp">
    <div class="order-info">
      <h3 class="order_title">Ваш заказ:</h3>
      <div class="order_date">
        <span class="order_date__label">Пункт выдачи</span>
        <span class="dote-border"></span>
        <span *ngIf="addressValid; else nonaddress" class="order_date__item">
          <span>{{ cityValue }},</span>
          <span>{{ addressValue }}</span>
        </span>
        <ng-template #nonaddress>
          <span class="order_date__item">Не выбран</span>
        </ng-template>
      </div>
      <div class="order_price">
        <span class="order_price_label">Цена:</span>
        <span class="order_price_range">от 8 000 до 12 000 ₽</span>
      </div>
      <app-button
        (click)="toNextStep()"
        [isDisabled]="orderForm.invalid"
        color="accept"
        size="max"
        [text]="textBtn"
      ></app-button>
    </div>
  </div>
</div>
