<app-header></app-header>

<nav class="steps_nav">
  <div class="container">
    <div class="steps-title_wrapp" *ngFor="let title of pageStepsTitles">
      <a
        [ngClass]="{
          active: activeStep === title.step,
          disabled: !title.isValid
        }"
        (click)="toStep(title)"
        class="steps_nav__link"
        >{{ title.title }}</a
      >
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </div>
  </div>
</nav>
<div class="container order_page__container">
  <div class="order-steps_wrapp">
    <form class="order-form" [formGroup]="orderForm">
      <app-step-location
        (addressValueChange)="addressValueChange()"
        *ngIf="activeStep === activeStepEnum.step1"
      ></app-step-location>

      <app-step-model
        [carModel]="checkedCar?.name"
        (selectCar)="selectedCar($event)"
        *ngIf="activeStep === activeStepEnum.step2"
      ></app-step-model>
      <app-step-addit
        *ngIf="activeStep === activeStepEnum.step3"
        (completedForm)="additCompleted()"
      ></app-step-addit>
      <app-step-confirm
        *ngIf="activeStep === activeStepEnum.step4"
      ></app-step-confirm>
    </form>
  </div>

  <app-order-info
    [activeStep]="activeStep"
    [modelValid]="modelValid"
    (nextStep)="toNextStep()"
    (confirmOrder)="confirmOrder()"
  >
  </app-order-info>
</div>

<div *ngIf="isOrderConfirm" class="confirm confirm-wrapp">
  <div class="confirm__modal">
    <div class="confirm__head">Подтвердить заказ</div>
    <app-button
      class="confirm__btn"
      color="accept"
      text="Подтвердить"
    ></app-button>
    <app-button
      theme="fail-theme"
      (click)="onGoBack()"
      text="Вернуться"
    ></app-button>
  </div>
</div>
