<app-header></app-header>

<nav class="steps_nav">
  <div class="container">
    <div class="steps-title_wrapp" *ngFor="let title of pageStepsTitles">
      <a
        [ngClass]="{
          active: activeStep === title.step,
          disabled: !title.isValid
        }"
        (click)="toStep(title)"
        class="steps_nav__link"
        >{{ title.title }}</a
      >
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </div>
  </div>
</nav>

<div class="container order_page__container">
  <div class="order-steps_wrapp">
    <form class="order-form" #orderForm="ngForm">
      <app-step-location
        [cityValue]="cityValue"
        [addressValue]="addressValue"
        (changeCityValue)="setCityValue($event, orderForm)"
        (changeAddressValue)="setAddressValue($event, orderForm)"
        *ngIf="activeStep === activeStepEnum.step1"
      ></app-step-location>

      <app-step-model
        [carModel]="checkedCar?.model"
        (selectCar)="selectedCar($event)"
        *ngIf="activeStep === activeStepEnum.step2"
      ></app-step-model>
      <app-step-addit
        *ngIf="activeStep === activeStepEnum.step3"
      ></app-step-addit>
    </form>
  </div>

  <div class="order-info_wrapp">
    <div class="order-info">
      <h3 class="order_title">Ваш заказ:</h3>
      <div class="order_date">
        <span class="order_date__label">Пункт выдачи</span>
        <span class="dote-border"></span>
        <span
          *ngIf="addressValid; else nonaddress"
          class="order_date__item column-item"
        >
          <span>{{ cityValue }},</span>
          <span>{{ addressValue }}</span>
        </span>
        <ng-template #nonaddress>
          <span class="order_date__item">Не выбран</span>
        </ng-template>
      </div>
      <div *ngIf="addressValid" class="order_date">
        <span class="order_date__label">Модель</span>
        <span class="dote-border"></span>
        <span *ngIf="modelValid; else nonmodel" class="order_date__item">
          <span>{{ checkedCar?.brand }}, {{ checkedCar?.model }}</span>
        </span>
        <ng-template #nonmodel>
          <span class="order_date__item">Не выбран</span>
        </ng-template>
      </div>
      <div class="order_price">
        <span class="order_price_label">Цена:</span>
        <span class="order_price_range">от {{ priceRance }}</span>
      </div>
      <app-button
        (click)="toNextStep()"
        [isDisabled]="orderForm.invalid"
        color="accept"
        size="max"
        [text]="textBtn"
      ></app-button>
    </div>
  </div>
</div>
