<app-header></app-header>

<nav class="steps_nav">
  <div class="container">
    <div class="steps-title_wrapp" *ngFor="let title of pageStepsTitles">
      <a
        [ngClass]="{
          active: activeStep === title.step,
          disabled: !title.isValid
        }"
        (click)="toStep(title)"
        class="steps_nav__link"
        >{{ title.title }}</a
      >
      <svg class="triangle__icon">
        <use xlink:href="assets/sprite/symbol-defs.svg#triangle"></use>
      </svg>
    </div>
  </div>
</nav>
<div class="container order_page__container">
  <div class="order-steps_wrapp">
    <form class="order-form" [formGroup]="orderForm">
      <app-step-location
        [formGroup]="orderForm"
        [form]="orderForm"
        (addressValueChange)="addressValueChange()"
        *ngIf="activeStep === activeStepEnum.step1"
      ></app-step-location>

      <!-- [addressValues]="addressValues" -->

      <app-step-model
        [carModel]="checkedCar?.model"
        (selectCar)="selectedCar($event)"
        *ngIf="activeStep === activeStepEnum.step2"
      ></app-step-model>
      <app-step-addit
        *ngIf="activeStep === activeStepEnum.step3"
      ></app-step-addit>
    </form>
  </div>

  <app-order-info
    [activeStep]="activeStep"
    [checkedCar]="checkedCar"
    [modelValid]="modelValid"
    [priceRance]="priceRange"
    (nextStep)="toNextStep()"
  >
  </app-order-info>
  <!-- [addressValid]="addressValid" -->
  <!-- [addressValues]="addressValues" -->
</div>
